<script>
window.intercomSettings = { 
  "email": "<%= @current_user.email %>", 
  "name": "<%= @current_user.fullname %>", 
  "user_id": "<%= @current_user.id %>", 
  "created_at": <%= @current_user.created_at %>,
  "app_id": "umxbi8zj",
  "widget": {
    "activator": "#Intercom" 
  }
}
</script>

<h1>You are logged in to see this</h1>
<a id="Intercom" href="mailto:umxbi8zj@incoming.intercom.io">Support</a>