

<%# Main section %>
<div class="main">
	<h1>Create and Share Stories</h1>
	<a href="#" class="myButton">Learn More</a>
</div>

<%# Supporting section %>
<div class="supporting">
	<h2>Relive and share your adventures</h2>
	<p>Stories automatically creates a digital journal filled with only your best photos.</p>
</div>

<%# Secondary section %>
<div class="secondary">
	<img src="<%= asset_path('Nature-sea-scenery.jpg') %>" />
</div>

<%# Discover section %>
<div class="discover">
	<h2>Discover Stories</h2>
	<a href="#" class="myButton">Learn More</a>
</div>

<%# Footer %>
<div class="footer">
	<p>A KevintheChang Project</p>
</div>

<%# Menu %>
<div id="menu">
        <ul>
            <li><a href="#">Menu Item 1</a></li>
            <li><a href="#">Menu Item 2</a></li>
            <li><a href="#">Menu Item 3</a></li>
        </ul>
</div>
    <div id="right">
        <div id="menubar">
            <div id="button">
                Menu
            </div>
        </div>
    </div>